@import url(../fonts/e-UkraineHead-Regular.otf);

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* СкроллБар */


*:root {

    --scrollbarThumb:

        rgba(117, 108, 108, 0.624);
    --scrollbarWidth: 16px;
    --scrollbarBorder: 3px solid var(--scrollbarBg);
}

*::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}

*::-webkit-scrollbar-track {
    background: var(--scrollbarBg);

}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);

    border: var(--scrollbarBorder);
}




header {
    width: 100%;
}


body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    background: url(../image/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    max-width: 1920px;
    max-height: 1920px;
    font-family: 'e-Ukraine';
}

/* Header */


.info {
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info__text {
    color: #fff;
    padding: 0px 50px 0 0;
    font-size: 10pt;
}


/* Поле навигации */


.nav {
    width: 100%;
    height: 100px;
    background: rgb(0 0 0 / 50%);
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.nav__title {
    margin: 0px 60px 5px 0px;
}

.title {
    color: #fff;
    font-size: 40pt;
    font-weight: bold;
    margin: 0px 60px 5px 0px;
}

.nav__menu {
    display: flex;
    padding: 0px 0px 0px 0;
    margin: 0 0px 0px 0px;
    align-items: center;
}

.item-menu {
    display: flex;
    flex-direction: column;
    padding: 0px 25px 0 0;
    align-items: center;
}

.link-menu {
    display: flex;
    font-size: 17px;
    color: #fff;
    align-items: center;
    flex-direction: column;
}


.item-menu::after {
    content: '';
    display: block;
    height: 2px;
    width: 20px;
    border-radius: 20px;
    background: #fff;
    visibility: hidden;
    margin: 1px 0 0px 0;
    transition: .2s;
}

.item-menu:hover::after {
    width: 45px;
    visibility: visible;
    transition: ease-out .8s;
}


/* Подвал */

footer {
    width: 100%;
}


.footer__body {
    display: flex;
    padding: 53px 0 0 0;
    align-items: flex-start;
}

.footer {
    width: 100%;
    height: 330px;
    background: rgb(0 0 0 / 50%);
    display: flex;
    margin: 150px 0 0 0;
    justify-content: center;
}

.footer__title {
    display: flex;
}

.footer__menu {
    display: flex;
    padding: 25px 0 0 0;
}

.ps {
    height: 70px;
    display: flex;
    width: 100%;
    color: #fff;
    font-size: 9pt;
    background: rgb(0 0 0 / 50%);
    justify-content: center;
    align-items: flex-start;
}

/* Основной Контент */




main {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.tabs {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.tabs__menu {
    display: flex;
    width: 1245px;
    height: 50px;
    margin: 30px 0 0px 0px;
    justify-content: center;
}

.tabs-item {
    width: 240px;
    display: flex;
    height: 50px;
    text-align: center;
    color: #7f7f7f;
    background: #fff;
    border-radius: 9px;
    justify-content: center;
    font-weight: 900;
    cursor: pointer;
    font-size: 10pt;
    margin: 0 5px 0 5px;
    align-items: center;
}

.tabs-item:hover {
    color: #9bd2cf;
    transition: .2s;
}

.active {
    color: #9bd2cf;
}

.tabs__drop {
    width: 1245px;
    margin: 25px 0 0 0;
}

.tabs__drop__info {
    display: flex;
    flex-direction: column;
}

.box__info {
    display: flex;
    background: #fff;
    width: 1245px;
    height: 500px;
    border-radius: 9px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
}
.box__info::-webkit-scrollbar{
    width: 9px;
}

.box__info::-webkit-scrollbar-track{
    background: none;
}
.box__info::-webkit-scrollbar-thumb{
    background-color: #cccccc;
    border-radius: 25px;
    border: 2px solid #fff;
}

.box__info__text {
    padding: 25px 0px 0px 25px;
    font-size: 12pt;
}

.btn {
    display: flex;
    margin: 25px 0 25px 0px;
    background: #fff;
    width: 1245px;
    color: #737373;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    cursor: pointer;
}

.btn:hover{
    background: rgb(0 0 0 / 45%);
    transition: .4s;
}



.note {
    border-radius: 9px;
    width: 1245px;
    height: 140px;
    background: #fff;
    display: flex;
    align-items: center;
}

.note__text {
    text-align: center;
    font-size: 12pt;
    color: #4c4c4c;
    padding: 0 40px 0 40px;
}